<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./shared/head'); %>
    <title>MercadoPago API!</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <h1 class="text-center mt-3">
          <%= message %>
        </h1>
      </header>
    </div>
    <%- include('./shared/scripts'); %>
  </body>
</html>